*{
    font-family:"Poppins";
    text-align: center;
}

header{
    font-weight: 400;
    padding-bottom: 10px;
}

body{
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer{
    font-weight: 400;
    padding-top: 10px;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}



.page {
    background-color: #f2fdfd;
    color:#041616;
    min-width: 40rem;
}

/* Ladder css */
.ladder-name-container {
    /* background-color: #acacf1; */
    border-radius: 25px;
    box-shadow: 0px 5px 5px 1px gray;
}

.ladder-outer-container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    align-items: center;
    min-width: 40rem;

    border-radius: 25px;
    box-shadow: 0px 5px 5px 1px gray;
}


.ladder-center-div {
    background-color: #42094e;
    width: 100%;
    min-width: 15rem;
    color:#f2fdfd;
    border-radius: 6rem;
}

.ladder-left-btn {
    background-color: #1e66ae;
    display:flex;
    border-radius: 6rem;
}

.ladder-left-btn button{
    background-color: #008B8B;
    border-radius: 6rem;
    cursor: pointer;
}

.ladder-right-btn {
    background-color: #1e66ae;
    display:flex;
    border-radius: 6rem;
}

.ladder-right-btn button{
    background-color: #DC143C;
    border-radius: 6rem;
    cursor: pointer;
}

.ladder-footer-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    /* background-color: #041616;
    color:#f2fdfd; */
    padding-top: 0px;
    border-radius: 25px;
    box-shadow: 0px 5px 5px 1px gray;
}

/* Team css */
.team-name-container {
    /* background-color: #acacf1; */
    border-radius: 25px;
    box-shadow: 0px 5px 5px 1px gray;
}

.team-list-container {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    
    margin-top: 10px;
    /* background-color:#1e66ae; */
    border-radius: 250px;
    box-shadow: 0px 5px 5px 1px gray;
}

.team-list-container > div {
    background-color: #acacf1;
    border-radius: 250px;

    font-size: 1.777rem;
    font-weight: 700;
}

.team-list-container > button {
    background-color: #1e66ae;
    border-radius: 250px;

    font-size: 1.777rem;
    font-weight: 700;
}

.team-footer-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    /* background-color: #041616;
    color:#f2fdfd; */
    padding-top: 0px;
    border-radius: 25px;
    box-shadow: 0px 5px 5px 1px gray;
}


/* First choice of colors
Light
--text: #041616;
--background: #f2fdfd;
--primary: #1e66ae;
--secondary: #acacf1;
--accent: #1e1eb3;

--text: rgb(4, 22, 22);
--background: rgb(242, 253, 253);
--primary: rgb(30, 102, 174);
--secondary: rgb(172, 172, 241);
--accent: rgb(30, 30, 179);

Dark
--text: #e9fbfb;
--background: #020d0d;
--primary: #5199e1;
--secondary: #0e0e53;
--accent: #4c4ce1; 

--text: rgb(233, 251, 251);
--background: rgb(2, 13, 13);
--primary: rgb(81, 153, 225);
--secondary: rgb(14, 14, 83);
--accent: rgb(76, 76, 225);
*/

/* Second choice of colors 
Light
--text: #050b2e;
--background: #edeffd;
--primary: #4e14b8;
--secondary: #eab1f6;
--accent: #ab16c5;

--text: rgb(5, 11, 46);
--background: rgb(237, 239, 253);
--primary: rgb(78, 20, 184);
--secondary: rgb(234, 177, 246);
--accent: rgb(171, 22, 197);

Dark 
--text: #d1d7fa;
--background: #020412;
--primary: #8147eb;
--secondary: #42094e;
--accent: #cf3ae9;

--text: rgb(209, 215, 250);
--background: rgb(2, 4, 18);
--primary: rgb(129, 71, 235);
--secondary: rgb(66, 9, 78);
--accent: rgb(207, 58, 233);
*/
